body {
    background-image: url('https://images.pexels.com/photos/913807/pexels-photo-913807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-repeat: no-repeat;
    padding: 20px;
    padding-bottom: 80px;
    background-color: #f0f0f0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plus-jakarta-sans {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
    padding: 40px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0 0 0 / 10%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 70%);
    backdrop-filter: blur(15.9px);
    -webkit-backdrop-filter: blur(15.9px);
    position: relative;
}

h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
}

.poemSign {
    overflow-y: auto;
    max-width: 1000px;
    height: 406px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poem {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    font-family: "Playwrite FR Moderne", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 2.5;
}

.signature {
    display: block;
    margin: 20px auto 0;
    max-width: 200px;
    align-self: flex-end;
    filter: contrast(150%) brightness(90%);
    transition: max-width 0.3s ease;
}

@media (max-width: 640px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    .poem {
        font-size: 1rem;
    }
}

#playButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

@media (max-width: 640px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    .poem {
        font-size: 0.9rem;
        max-width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.poem {
    animation: fadeIn 3s ease-in-out;
}

.signature {
    display: block;
    margin: 20px auto 0;
    max-width: 150px;
    align-self: flex-end;
}

#playButton {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60
}

#playButton:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.9);
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.loading-message {
    color: rgb(49, 49, 49);
    margin-top: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
}

.error-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.invalidkey-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.content {
    display: none;
}

.footer-text {
    display: block;
    text-align: center;
    width: 100%;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#popover {
    transition: opacity 0.3s ease-in-out;
}

#popover.hidden {
    opacity: 0;
    pointer-events: none;
}

#accessKey.invalid {
    border-color: red !important;
    color: red !important;
}
